<div [ngClass]="{'visiblie': num === null, 'null' : num >-1 }">
  <h2 class="text-center">Eliga un empleado para editar</h2>
  <table class="table table-striped">
  <thead class="table-dark">
    <tr>

      <th scope="col">Nombre y Apellido </th>
      <th scope="col">Email</th>
      <th scope="col">Cargo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of empleado">
      <th scope="row">{{emp.nombre}} {{emp.apellido}} <button class="btn btn-outline-success" routerLink="/editar/{{emp.idEmpleado}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg></button></th>
      <td>{{emp.email}}</td>
      <td>{{emp.cargo}}</td>
    </tr>
  </tbody>
  </table>
</div>
<div *ngIf="num!=null">
  <h2 class="text-center">Editar Empleao</h2>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">Nombre y Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Cargo</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <th scope="row">{{emp.nombre}} {{emp.apellido}}</th>
        <td>{{emp.email}}</td>
        <td>{{emp.cargo}}</td>
      </tr>
    </tbody>
  </table>
  <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate>
    <div class="form-group">
      <label class="form-label" for="empleado.nombre">Nombre :</label>
      <input type="text" class="form-control" id="nombre"[(ngModel)]="emp.nombre"name="nombre"required>
    </div>
    <div class="form-group">
      <label  class="form-label" for="empleado.apellido">Apellido :</label>
      <input type="text" class="form-control" id="apellido"[(ngModel)]="emp.apellido"name="apellido"required>
    </div>
    <div class="form-group">
      <label  class="form-label" for="empleado.email">Email :</label>
      <input type="text" class="form-control" id="email"[(ngModel)]="emp.email"name="email"required>
    </div>
    <div class="form-group">
      <label  class="form-label" for="empleado.cargo">Cargo :</label>
      <input type="text" class="form-control" id="cargo"[(ngModel)]="emp.cargo"name="cargo" required>
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
</div>
